---
http_interactions:
- request:
    method: get
    uri: http://api.bitly.com/v3/shorten?apiKey=R_df3ffa929e33479fb898c94de1cd357a&login=hospitium&longUrl=https://hospitium.co
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "long_url": "https:\/\/hospitium.co\/", "url": "http:\/\/bit.ly\/X8L44h", "hash": "X8L44h", "global_hash": "X8L44i", "new_hash": 0 } }
  recorded_at: Wed, 26 Nov 2014 16:41:59 GMT
recorded_with: VCR 2.9.3
