---
http_interactions:
- request:
    method: get
    uri: http://api.bit.ly/v3/shorten?longUrl=https%3A%2F%2Fhospitium.co&login=hospitium&apiKey=R_93a2ce1be0ecee1cc264afb2bac4381c
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      mime-version:
      - '1.0'
    body:
      encoding: US-ASCII
      string: ! '{ "status_code": 200, "status_txt": "OK", "data": { "long_url": "https:\/\/hospitium.co\/",
        "url": "http:\/\/bit.ly\/X8L44h", "hash": "X8L44h", "global_hash": "X8L44i",
        "new_hash": 1 } }

'
  recorded_at: Tue, 26 Mar 2013 01:21:26 GMT
recorded_with: VCR 2.4.0
