<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 main-app-row">
    <div class="block-flat">
      <div class="row-fluid">
        <div class="span12">
          <h1>New foster contact</h1>
        </div>
      </div>
    </div>

    <%= render 'form', :foster_contact => @foster_contact  %>


  </div>
</div>

