---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ninetwentyfour/Hospitium/commits?sha=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '53'
      x-ratelimit-reset:
      - '1394929495'
      last-modified:
      - Sat, 15 Mar 2014 20:46:28 GMT
      etag:
      - "\"298385cbb92cca65c46b919a41d0b9bf\""
      x-github-media-type:
      - github.beta; format=json
      link:
      - "<https://api.github.com/repositories/2325313/commits?sha=master&top=master&last_sha=22289c14c645e44c52e2a19a5bd2ff9c691d2a3e>;
        rel=\"next\", <https://api.github.com/repositories/2325313/commits?sha=master>;
        rel=\"first\""
    body:
      encoding: UTF-8
      string: "[{\"sha\":\"0bd037a9739bbf22a9ca802182a967305693dbbb\",\"commit\":{\"author\":{\"name\":\"Travis
        Berry\",\"email\":\"contact@travisberry.com\",\"date\":\"2014-03-15T20:46:28Z\"},\"committer\":{\"name\":\"Travis
        Berry\",\"email\":\"contact@travisberry.com\",\"date\":\"2014-03-15T20:46:28Z\"},\"message\":\"fix
        bad dates\",\"tree\":{\"sha\":\"65cc40b726deb0c20a371bdde08e99dde416b59c\",\"url\":\"https://api.github.com/repos/ninetwentyfour/Hospitium/git/trees/65cc40b726deb0c20a371bdde08e99dde416b59c\"},\"url\":\"https://api.github.com/repos/ninetwentyfour/Hospitium/git/commits/0bd037a9739bbf22a9ca802182a967305693dbbb\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/ninetwentyfour/Hospitium/commits/0bd037a9739bbf22a9ca802182a967305693dbbb\",\"html_url\":\"https://github.com/ninetwentyfour/Hospitium/commit/0bd037a9739bbf22a9ca802182a967305693dbbb\",\"comments_url\":\"https://api.github.com/repos/ninetwentyfour/Hospitium/commits/0bd037a9739bbf22a9ca802182a967305693dbbb/comments\",\"author\":{\"login\":\"ninetwentyfour\",\"id\":155665,\"avatar_url\":\"https://gravatar.com/avatar/e1633f5b321141db3e1ba770953ace7f?d=https%3A%2F%2Fidenticons.github.com%2Fb82798b6fea83a2665e4a1a80ef0393c.png&r=x\",\"gravatar_id\":\"e1633f5b321141db3e1ba770953ace7f\",\"url\":\"https://api.github.com/users/ninetwentyfour\",\"html_url\":\"https://github.com/ninetwentyfour\",\"followers_url\":\"https://api.github.com/users/ninetwentyfour/followers\",\"following_url\":\"https://api.github.com/users/ninetwentyfour/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ninetwentyfour/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ninetwentyfour/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ninetwentyfour/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ninetwentyfour/orgs\",\"repos_url\":\"https://api.github.com/users/ninetwentyfour/repos\",\"events_url\":\"https://api.github.com/users/ninetwentyfour/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ninetwentyfour/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"ninetwentyfour\",\"id\":155665,\"avatar_url\":\"https://gravatar.com/avatar/e1633f5b321141db3e1ba770953ace7f?d=https%3A%2F%2Fidenticons.github.com%2Fb82798b6fea83a2665e4a1a80ef0393c.png&r=x\",\"gravatar_id\":\"e1633f5b321141db3e1ba770953ace7f\",\"url\":\"https://api.github.com/users/ninetwentyfour\",\"html_url\":\"https://github.com/ninetwentyfour\",\"followers_url\":\"https://api.github.com/users/ninetwentyfour/followers\",\"following_url\":\"https://api.github.com/users/ninetwentyfour/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ninetwentyfour/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ninetwentyfour/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ninetwentyfour/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ninetwentyfour/orgs\",\"repos_url\":\"https://api.github.com/users/ninetwentyfour/repos\",\"events_url\":\"https://api.github.com/users/ninetwentyfour/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ninetwentyfour/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"976924ce27e85237b3c7e53d3293cd009d7d3e88\",\"url\":\"https://api.github.com/repos/ninetwentyfour/Hospitium/commits/976924ce27e85237b3c7e53d3293cd009d7d3e88\",\"html_url\":\"https://github.com/ninetwentyfour/Hospitium/commit/976924ce27e85237b3c7e53d3293cd009d7d3e88\"}]},{\"sha\":\"976924ce27e85237b3c7e53d3293cd009d7d3e88\",\"commit\":{\"author\":{\"name\":\"Travis
        Berry\",\"email\":\"contact@travisberry.com\",\"date\":\"2014-02-22T20:37:08Z\"},\"committer\":{\"name\":\"Travis
[...]
