:css
  .alert-message {
    background-color: #EEDC94;
    background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #404040;
    margin-bottom: 18px;
    padding: 7px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .alert-message.block-message {
    background-color: #FDF5D9;
    background-image: none;
    border-color: #FCEEC1;
    box-shadow: none;
    padding: 14px;
  }
#sidebar
  .block
    .alert-message.block-message
      %strong= @random_notice.status_type + "!"
      = raw(@random_notice.message)
    %h3 Navigation
    = render(:partial => 'rails_admin/main/navigation')
  -#.block.notice
  -#  %h4 Welcome!
  -#  %p You're using Rails Admin with activo styling.
  -#-.block.notice
  -#  %h4 Notice Title
  -#  %p Maybe some inline help e.g. This is your Player list page. From here you find players to edit, and can apply actions to multiple players at once.
  -#-.block
  -#  .sidebar-block
  -#    %h4 History
  -#    = history_link :gunn, "deleted player #5"
  -#    = history_link :gunn, "created player #38"
  -#    = history_link :cameron, "edited name, surname and hometown for player #39"
  -#    = history_link :cameron, "created player #39"
  -#    = history_link :cameron, "created player #40"
  -#    = history_link :gunn, "created player #41"
  -#    = history_link :cameron, "created team #2"
  -#    = history_link :gunn, "created player #42"
  -#    %p
  -#      %span= link_to "and <b>75 more</b> changes".html_safe, '#'