<a href="/admin/animals/<%= animal.id %>-<%= animal.uuid %>" 
	class="
		<% unless animal.image.url(:thumb) == "/images/thumb/missing.png" %>
			popover-class
		<%end%>" 
	rel="popover" 
	data-trigger="hover" 
	data-placement="right" 
	data-content='
		<p>
			<a class="thumbnail" 
				href="#" 
				style="height:140px;background-image:url(
					<% unless animal.image.url(:thumb) == "/images/thumb/missing.png" %>
						<%= animal.image.url(:thumb) %>
					<%end%>);background-repeat:no-repeat;background-position:center;"
			>
			</a>
		</p>'
>
	<%= animal.name %>
</a>
