<div class="row-fluid">
	<div class="span12 main-app-row">
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
					<h1>New animal</h1>
				</div>
			</div>
		</div>

		<%= render 'form', :animal => @animal,
											:species => @species,
											:sex => @sex,
											:spay => @spay,
											:color => @color,
											:biter => @biter,
											:status => @status	%>


	</div>
</div>
