<div class="row-fluid">
	<div class="span12 main-app-row">
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
					<h1>New animal color</h1>
				</div>
			</div>
		</div>

		<%= render 'form' %>


	</div>
</div>

