/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#slider {
/*    margin:100px auto 0 auto;
*/    width:560px; /* Make sure your images are the same size */
    height:290px; /* Make sure your images are the same size */
margin-left:10px;
border:10px solid #fff;
}
body{
	padding-top: 40px;
}
.singleAnimalAdoption{
	border:1px solid #DDDDDD;
	padding:20px;
	margin:60px;
}
.adoptImage{
	margin-right:20px;
}
.animalMedia{
	float:right;
}