			<% if notice.blank? %>

			<% else %>
				<div class="alert alert-info" style="margin-top:60px;"><%= notice %></div>
			<% end %>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit clearfix">
				<div class="page-header">
					<h1>About Hospitium!</h1>
				</div>
				<p style="text-align:right;"><a class="btn btn-success btn-large js-pjax" href="/users/sign_up">Try It Now &raquo;</a></p>

				<p>Hospitium is a hosted solution for managing your animal rescue. The brainchild of Apple Wood Rescue, a small animal rescue in Denver Colorado, Hospitium has been designed with all kinds of shelters in mind.</p>

				<p>In addition to our hosted version, the source code of this program is completely free. You can modify it all you want and you can share it with anyone.</p> 
				
				<p><a class='js-pjax' href="/users/sign_up">Start managing your animal rescue today!</a>.</p>
				
				<p>Please submit bugs or feature requests <a href="http://hospitium.tenderapp.com/home">here</a>.</p>

				<p>You can support the project by:</p>
				<ul>
					<li>Donating to <a href="http://www.applewoodrescue.org/donate/">Apple Wood Rescue</a></li>
					<li>Contributing to the development of Hospitium on <a href="https://github.com/ninetwentyfour/Hospitium">github</a>.</li>
				</ul>
				<hr />
				<h2>Technical</h2>
				<p>Hospitium is built with <a href="http://rubyonrails.org/">Ruby on Rails</a>.</p>
				<p>Style provided by <a href="http://twitter.github.com/bootstrap/#">Twitter Bootstrap</a>.</p>
				<p>Hosted on <a href="http://www.heroku.com">Heroku</a>.</p>
				<hr />
				<h2>People</h2>
				<p><a href="http://www.travisberry.com">Travis Berry</a></p>
				<p><a href="http://www.applewoodrescue.org">Jinna Adamson</a></p>
			</div>

		<% set_meta_description("Hospitium is the brain child of Apple Wood Rescue, a small animal rescue in Denver Colorado.") %>
		<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
		<% set_head_title("About") %>
		<% content_for :title, "About" %>
		<title><%= yield (:title) %></title>