	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit clearfix">
		<div class="page-header">
			<h1>Recent Changes!</h1>
		</div>
		<p style="text-align:right;"><a class="btn btn-success btn-large js-pjax" href="/users/sign_up">Try It Now &raquo;</a></p>

		
		<p>
			<ul>
				<% @recent_changes.each do |commit| %>
					<li><strong><%= commit[:date].strftime("%m/%d/%Y") %>:</strong> <%= commit[:message] %></li>
				<%end%>
			</ul>
		</p>


	</div>

<% set_meta_description("Ugly list of recent Hospitium changes.") %>
<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
<% set_head_title("Recent Changes") %>
<% content_for :title, "Recent Changes" %>
<title><%= yield (:title) %></title>