	<% if notice.blank? %>

	<% else %>
		<div class="alert alert-info" style="margin-top:60px;"><%= notice %></div>
	<% end %>
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit clearfix">
		<div class="page-header">
			<h1>Recent Changes!</h1>
		</div>
		<p style="text-align:right;"><a class="btn btn-success btn-large js-pjax" href="/users/sign_up">Try It Now &raquo;</a></p>

		
		<p>
			<ul>
				<% cache("recent_changes_frag", :expires_in => 60.minutes) do %>
					<% Octokit.commits("ninetwentyfour/Hospitium", branch = "master", options = {}).each do |commit|%>
						<li><strong><%= commit.commit.author.date.split('T', 2).first %>:</strong> <%= commit.commit.message %></li>
					<%end%>
				<%end%>
			</ul>
		</p>


	</div>

<% set_meta_description("Ugly list of recent Hospitium changes.") %>
<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
<% set_head_title("Recent Changes") %>
<% content_for :title, "Recent Changes" %>
<title><%= yield (:title) %></title>