			<% if notice.blank? %>

			<% else %>
				<div class="alert-message info" style="margin-top:60px;"><%= notice %></div>
			<% end %>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit clearfix">
				<div class="page-header">
			  	<h1>Hospitium Features!</h1>
				</div>
				<p style="text-align:right;"><a class="btn success large" href="/users/sign_up">Try It Now &raquo;</a></p>
			</div>
			
			<div class="row" id="animals">
				<div class="span16 columns">
					<div class="page-header">
				  	<h1>Manage Animals!</h1>
					</div>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/animal_close3.jpg" alt="" style="float:right;margin-left:10px;border:1px solid #DDD;" width=560 height=290 />
					<p>We make it easy to keep track of your animals. Everything you need to know about an animal is instantly at your fingertips.</p>
					<p>Hospitium features streamlined, centralized records for each animal.</p>
					<ul>
						<li>Animal Details: Name, breed, age and images of the animal.</li>
						<li>Status: Is an animal available for adoption, sanctuary, in foster care, new intake, awaiting surgery?</li>
						<li>Veterinary History: Has the animal been spayed/neutered? Does it have special medical needs?</li>
						<li>Temperament: Is the animal a biter? Now it's easy to know.</li>
					</ul>
				</div>
			</div>
			
			<div class="row" id="contacts">
				<div class="span16 columns">
					<div class="page-header">
				  	<h1>Manage Contacts!</h1>
					</div>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/vet_contact3.jpg" alt="" style="float:right;margin-left:10px;border:1px solid #DDD;" width=560 height=290 />
					<p>People are just as important as the animals. Keep track of volunteers, vets, and anyone else you want.</p>
					<ul>
						<li>Phone Numbers.</li>
						<li>Emails Address.</li>
						<li>Physical Addresses.</li>
						<li>Services Offered.</li>
					</ul>
				</div>
			</div>
			
			<div class="row" id="report">
				<div class="span16 columns">
					<div class="page-header">
				  	<h1>Report Everything!</h1>
					</div>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/graph_models2.jpg" alt="" style="float:right;margin-left:10px;border:1px solid #DDD;" width=560 height=290 />
					<p>We make it easy to export your data in any format you want.</p>
					<p>Filter your data how you see fit. Sort and search data by any field available.</p>
					<p>Customizable and embedable graphs coming soon.</p>
				</div>
			</div>
			
			<div class="row" id="share">
				<div class="span16 columns">
					<div class="page-header">
				  	<h1>Share Everything!</h1>
					</div>
					<img src="https://d4uktpxr9m70.cloudfront.net/images/share_everything.jpg" alt="" style="float:right;margin-left:10px;border:1px solid #DDD;" width=560 height=290 />
					<p>We make it easy to share your animals on every major social network.</p>
					<p>Not only do we include social media, but we can also cross post animals up for adoption on numerous animal listing sites.</p>
					<p>Sites Include:</p>
					<ul>
						<li><a href="https://twitter.com/" target="blank">Twitter</a>.</li>
						<li><a href="https://facebook.com/" target="blank">Facebook</a>.</li>
						<li><a href="http://www.wordpress.org/" target="blank">WordPress</a>.</li>
						<li><a href="http://www.adoptapet.com/" target="blank">Adopt-A-Pet</a>.</li>
					</ul>
				</div>
			</div>
		<% set_meta_description("We make it easy to keep track of your animals. Everything you need to know about an animal is instantly at your fingertips.") %>
		<% set_meta_keywords("animal,management,software,online,hosted,hospitium,features") %>
		<% set_head_title("Features") %>