<% if notice.blank? %>

<% else %>
	<div class="alert-message info" style="margin-top:60px;"><%= notice %></div>
<% end %>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit clearfix">
	<div class="page-header">
  	<h1>Hello, Hospitium!</h1>
	</div>
	<div id="slider" class="nivoSlider" style="float:right;visibility:hidden;">
      <img src="http://s3.amazonaws.com/hospitium-app-assets/images/1.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/manage_animals.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/report_everything_2.jpg" alt="" style="border:1px solid #ddd" />
      <img src="http://s3.amazonaws.com/hospitium-app-assets/images/2.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/manage_contacts.jpg" alt="" style="border:1px solid #ddd" />
      <img src="http://s3.amazonaws.com/hospitium-app-assets/images/3.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/report_everything.jpg" alt="" style="border:1px solid #ddd" />
      <img src="http://s3.amazonaws.com/hospitium-app-assets/images/4.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/report_everything_3.jpg" alt="" style="border:1px solid #ddd" />
			<img src="http://s3.amazonaws.com/hospitium-app-assets/images/share_everything.jpg" alt="" style="border:1px solid #ddd" />
  </div>
  <p>Hospitium was created with the simple goal of being an animal management system that doesn't suck. Our system is easy to use and is flexible enough for rescues of all types.</p>
  <p><a class="btn primary large" href="/about">Learn more &raquo;</a></p><br />
	<p><a class="btn success large" href="/users/sign_up">Try It Now &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Manage Animals</h2>
    <p>We make it easy to keep track of your animals. Everything you need to know about an animal is instantly at your fingertips.</p>
    <p><a class="btn" href="/features.html#animals">View details &raquo;</a></p>
  </div>
  <div class="span5">
    <h2>Manage Contacts</h2>
     <p>People are just as important as the animals. Keep track of volunteers, vets, and anyone else you want.</p>
    <p><a class="btn" href="/features.html#contacts">View details &raquo;</a></p>
 </div>
  <div class="span5">
    <h2>Report Everything</h2>
    <p>We make it easy to export your data in any format you want.</p>
    <p><a class="btn" href="/features.html#report">View details &raquo;</a></p>
  </div>
</div>
<br />
<hr />
<br />
<!-- Example row of columns -->
<div class="row">
	<div class="span5">
		<img src="http://s3.amazonaws.com/hospitium-app-assets/images/buttons.jpg" alt="" style="float:left;margin-right:10px;border:1px solid #eee;" />
    <p><em>Thanks to Hospitium I found a new home! It handled all the tracking of my potential adoptions.</em></p>
		<p style="text-align:right">- Buttons the cat</p>
 </div>
  <div class="span6">
		<img src="http://s3.amazonaws.com/hospitium-app-assets/images/timon.jpg" alt="" style="float:left;margin-right:10px;border:1px solid #eee;" />
    <p><em>Before Hospitium I was a chubby piggy. Now my weight is tracked so I can be on a diet. I've lost 10 grams so far!</em></p>
		<p style="text-align:right">- Timon the pig</p>
  </div>
  <div class="span5">
		<img src="http://s3.amazonaws.com/hospitium-app-assets/images/marty.jpg" alt="" style="float:left;margin-right:10px;border:1px solid #eee;" />
    <p><em>When I was found I had serious health problems. Thanks to the detailed record keeping of my vet visits, I'm in much better health.</em></p>
		<p style="text-align:right">- Marty the chinchilla</p>
  </div>
</div>
<% set_meta_description("Hospitium was created with the simple goal of being an animal management system that doesn't suck.") %>
<% set_meta_keywords("animal,management,software,online,hosted") %>
<% set_head_title("Animal Shelter Management Software") %>