<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit clearfix">
	<div class="page-header">
  	<h1>Hello, Hospitium!</h1>
	</div>
	<div id="slider" class="nivoSlider" style="float:right">
      <img src="images/1.jpg" alt="" />
      <img src="images/2.jpg" alt="" />
      <img src="images/3.jpg" alt="" />
      <img src="images/4.jpg" alt="" />
  </div>
  <p>Hospitium was created with the simple goal of being an animal management software that doesn't suck. Our system is easy to use and is flexible enough for rescues of all types.</p>
  <p><a class="btn primary large" href="/about">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Manage Animals</h2>
    <p>We make it easy to keep track of your animals. Everything you need to know about an animal is instantly at your fingertips.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span5">
    <h2>Manage Contacts</h2>
     <p>People are just as important as the animals. Keep track of volunteers, vets, and anyone else you want.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span5">
    <h2>Report Everything</h2>
    <p>We make it easy to export your data in any format you want.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>