<% if notice.blank? %>

<% else %>
	<div class="alert alert-info" style="margin-top:60px;"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= notice %></div>
<% end %>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit clearfix">
	<div class="page-header">
  	<%= image_tag("home-hos-logo2.png")%><h1 style="display:inline">Hello, Hospitium!</h1>
	</div>
	<p id="duck-quote" class="big-quote" style="display:none;"><span style="margin-left: -10px;">“</span>I'm gonna be Internet famous when I'm older. With Hospitium it's super simple to share my adopt link on major social networks.”</p>
	<p id="duck-quote-name" style="display:none;">- Quackers the duck</p>
	<p id="rat-quote" class="big-quote" style="display:none;"><span style="margin-left: -10px;">“</span>Hospitium makes tracking my brother and I incredibly easy. The detailed reports make it easy to handle 1-100 of us.”</p>
	<p id="rat-quote-name" style="display:none;">- Splinter the rat</p>
	<p id="cat-quote" class="big-quote" style="display:none;"><span style="margin-left: -10px;">“</span>When I was found I had serious health problems. Thanks to the detailed record keeping of my vet visits, I'm in much better health.”</p>
	<p id="cat-quote-name" style="display:none;">- Buttons the cat</p>
  <p id="pig-quote" class="big-quote" style="display:none;"><span style="margin-left: -10px;">“</span>Before Hospitium I was a chubby piggy. Now my weight is tracked so I can be on a diet. I've lost 2 pounds so far!”</p>
	<p id="pig-quote-name" style="display:none;">- TonTon the pig</p>
	<p id="dog-quote" class="big-quote" style="display:none;"><span style="margin-left: -10px;">“</span>Thanks to Hospitium I found a new home! It handled all the tracking of my potential adoptions.”</p>
	<p id="dog-quote-name" style="display:none;">- Chloe the dog</p>
	<br />
  <p>Keeping track of animals shouldn't be a pain. Hospitium was built to make managing animal shelters and rescues simple and pain free. Our system is easy to use and is flexible enough for rescues of all types.</p>
  <!-- <p class="clearfix"><a class="btn info large" href="/features">Learn more &raquo;</a></p><br /> -->
	<ul class="unstyled" style="float:right">
		<li style="font-size:28px;line-height:1.6em !important;"><span style="color:#b2da59;font-size:28px">&#x2713</span> <a href="/features#animals">Manage Animals</a></li>
		<li style="font-size:28px;line-height:1.6em !important;"><span style="color:#b2da59;font-size:28px">&#x2713</span> <a href="/features#contacts">Manage People</a></li>
		<li style="font-size:28px;line-height:1.6em !important;"><span style="color:#b2da59;font-size:28px">&#x2713</span> <a href="/features#report">Report Everything</a></li>
	</ul>
	<p class="clearfix"></p>
	<p class="clearfix"><a class="btn btn-success btn-large" href="/users/sign_up">Try It Now &raquo;</a></p>
	<br />

	<br />
	<ul class="media-grid">
  <li>
		<a data-toggle="modal" href="#image_1"><img src="https://d4uktpxr9m70.cloudfront.net/images/thumb-1-home.jpg" width=135 height=120 /></a>
  </li>
  <li>
		<a data-toggle="modal" href="#image_2"><img src="https://d4uktpxr9m70.cloudfront.net/images/thumb-2-home.jpg" width=135 height=120 /></a>
  </li>
  <li>
		<a data-toggle="modal" href="#image_3"><img src="https://d4uktpxr9m70.cloudfront.net/images/thumb-3-home.jpg" width=135 height=120 /></a>
  </li>
  </ul>
</div>

<div class="modal" id="image_1" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3>Manage Animals</h3>
	</div>
	<div class="modal-body">
			<img src="https://d4uktpxr9m70.cloudfront.net/images/test-home-pic-large.jpg" alt="" style="max-width: 100%;">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
<div class="modal" id="image_2" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3>Manage Animals</h3>
	</div>
	<div class="modal-body">
			<img src="https://d4uktpxr9m70.cloudfront.net/images/home-large-2.jpg" alt="" style="max-width: 100%;">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
<div class="modal" id="image_3" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" href="#">×</a>
		<h3>Manage Animals</h3>
	</div>
	<div class="modal-body">
			<img src="https://d4uktpxr9m70.cloudfront.net/images/home-large-3.jpg" alt="" style="max-width: 100%;">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
<% set_meta_description("Hospitium was created with the simple goal of being an animal management system that doesn't suck.") %>
<% set_meta_keywords("animal,management,software,online,hosted") %>
<% set_head_title("Animal Shelter Management Software") %>

<% content_for :head do %>
  <link href="https://d4uktpxr9m70.cloudfront.net/stylesheets/homepage.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>
<% content_for :javascript_footer do %>
  <script>
	var messages = ["pig", "cat", "rat", "dog", "duck"];
	function getMessage() {
	   return messages[Math.floor(Math.random() * messages.length)];
	}
	$(document).ready(function(){
		var animal = getMessage();
	$('html').attr('class', animal);
	$('#'+animal+'-quote').attr('style', 'display:block;');
	$('#'+animal+'-quote-name').attr('style', 'display:block;');
	 });
	</script>
<% end %>