
	<% if notice.blank? %>

	<% else %>
		<div class="alert-message info" style="margin-top:60px;"><%= notice %></div>
	<% end %>
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit clearfix">
		<div class="page-header">
			<h1>Privacy & Terms!</h1>
		</div>
		<h2>Personal Information</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/personal.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Information Gathered: Email Address, Facebook Profile Information (if connected to Facebook), Twitter Profile Information (if connected to Twitter).</p>

		<p>You Own All Data Created By You. We Can Distribute And Use Public Data While You Are A Member.</p>

		<p>Information will be deleted within 30 days of closing account.</p>

		<hr />

		<h2>Financial Information</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/financial.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Please See <a href="https://stripe.com/privacy">Stripe's Privacy Policy</a>.
			<br /><br /><br /><br /><br />
		<hr />

		<h2>Information Sharing</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/sharing.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Your Public (Organizational & Animal) Info Is Shared With Third Parties.</p>
		
		<p>Google Analytics also gets information about you. See what they collect <a href="http://www.google.com/intl/en/analytics/privacyoverview.html">here</a>.</p>
		
		<p>Personal Information Is Not Shared With Third Parties.</p>
		<br /><br />
		<hr />

		<h2>Notifications</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/notification.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>You Will Receive Occasional Email Communications.</p>
		<br /><br /><br /><br /><br /><br />
		<hr />

		<h2>Security</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/security.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>All Data Is Transmitted Over Non-Secure HTTP.</p>
		<p>Hospitium Passwords Are Stored Encrypted.</p>
		<p>Some Third Party Passwords (Wordpress & Adopt-A-Pet) are stored in plain text.</p>
		<p>Twitter and Facebook are connected using <a href="http://oauth.net/">OAuth</a>.</p>

		<hr />

		<h2>Tracking</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/tracking.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Your Activity Is Tracked Including IP Address, PC Specs, And Location.</p>
		<br /><br /><br /><br /><br /><br />
		<hr />

		<p>Changes To This Privacy Policy Can Be Made Without Notification.</p>

		<p>You agree to not use Hospitium for anything illegal and to take responsibility if you do.</p>
		
		<p>We also think you suing us over using this software would be pretty horrible, but if you do, you do it in Colorado.</p>

		<p>You agree to all of this by using the service.</p>
		
	</div>

<% set_meta_description("Hospitium human readable privacy and terms of service docs.") %>
<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
<% set_head_title("Privacy and Terms Of Service") %>