	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit clearfix">
		<div class="page-header">
			<h1>Privacy & Terms!</h1>
		</div>
		<h2>Personal Information</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/personal.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Information Gathered: Email Address, Facebook Profile Information (if connected to Facebook), Twitter Profile Information (if connected to Twitter).</p>

		<p>You Own All Data Created By You. We Can Distribute And Use Public Data While You Are A Member.</p>

		<p>Information will be deleted within 30 days of closing account.</p>

		<hr />

		<h2>Information Sharing</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/sharing.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Your Public (Organizational & Animal) Info Is Shared With Third Parties.</p>
		
		<p>Google Analytics also gets information about you. See what they collect <a href="http://www.google.com/intl/en/analytics/privacyoverview.html">here</a>.</p>
		
		<p>Personal Information Is Not Shared With Third Parties. We Will Never Sell Your Information.</p>
		<br /><br />
		<hr />

		<h2>Notifications</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/notification.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>You Will Receive Occasional Email Communications.</p>
		<p>Users Of The Site May Contact You Using Your Organization Contact Information.</p>
		<br /><br /><br /><br /><br /><br />
		<hr />

		<h2>Security</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/security.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>All Data Is Transmitted Over Secure HTTPS.</p>
		<p>Hospitium Passwords Are Stored Encrypted With <a href="http://en.wikipedia.org/wiki/Blowfish_(cipher)">Blowfish</a>.</p>
		<p>Some Third Party Passwords (Wordpress & Adopt-A-Pet) are stored in plain text. Learn more <a href="https://hospitium.tenderapp.com/kb/faq/are-my-credentials-secure">here</a>.</p>
		<p>Twitter and Facebook are connected using <a href="http://oauth.net/">OAuth</a>.</p>

		<hr />

		<h2>Tracking</h2>
		<img src="https://d4uktpxr9m70.cloudfront.net/images/privacy/tracking.png" align=left style="margin:0px 10px 10px 0px;" width=130 height=130 />
		<p>Your Activity Is Tracked Including IP Address, PC Specs, And Location.</p>
		<br /><br /><br /><br /><br /><br />
		<hr />

		<p>Changes To This Privacy Policy Can Be Made Without Notification.</p>

		<p>You agree to not use Hospitium for anything illegal and to take responsibility if you do.</p>
		
		<p>We assume in good faith that all Organizations are in good legal standing to adopt any public animals. Public animals listed here are for adoption only. No public animals for sale (adoption fees are ok).</p>
		
		<p>We also think you suing us over using this software would be pretty horrible, but if you do, you do it in Colorado.</p>

		<p>You agree to all of this by using the service.</p>
		
		<hr />
		
		<p>Last updated 08-16-2012. View history of changes <a href="https://github.com/ninetwentyfour/Hospitium/commits/master/app/views/home/privacy.html.erb">here</a>.
	</div>

<% set_meta_description("Hospitium human readable privacy and terms of service docs.") %>
<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
<% set_head_title("Privacy and Terms Of Service") %>
<% content_for :title, "Privacy and Terms Of Service - Hospitium" %>
<title><%= yield (:title) %></title>