	<% if notice.blank? %>

	<% else %>
		<div class="alert alert-info" style="margin-top:60px;"><%= notice %></div>
	<% end %>
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit clearfix">
		<div class="page-header">
			<h1>Why Hospitium?</h1>
		</div>
		<p style="text-align:right;"><a class="btn btn-success btn-large js-pjax" href="/users/sign_up">Try It Now &raquo;</a></p>

		<h2>Complete Online Platform - No Mess, No Fuss</h2>
		<p>Our <a href="http://hospitium.co">animal management software</a> is completely hosted and managed by Hospitium. Only mess with servers if you decide to download and run the <a href="https://github.com/ninetwentyfour/Hospitium">open source version</a>.</p>
		<hr />
		<h2>Support and Maintenance – Easy and Efficient</h2>
		<p>Being a web based hosted solution means your software is always up to date. Get all the latest features and improvements for free. Never worry about updating again. Our online support makes getting help fast and easy.</p>
		<hr />
		<h2>Help and Training - We Love To Help Out</h2>
		<p>We have worked hard to make Hospitium as simple to use as possible, but sometimes a little help may be necessary. Either live chat with a Hospitium representative, or ask for help on our <a href="https://hospitium.tenderapp.com/kb">online forums</a>.</p>
		<hr />
		<h2>Cross-Platform - Use Hospitium From Anywhere</h2>
		<p>Mac, Windows, Linux? It doesn't matter. Our only requirement is a <a href="https://hospitium.tenderapp.com/kb/faq/supported-browsers">browser</a>. Hospitium has also been designed to work on mobile devices such as an iPad.</p>
		<hr />
		<h2>Financial Costs - Can't Beat Free</h2>
		<p>Hospitium is currently free to use for shelters and rescues of all sizes. From 1 to 1,000,000 animals, Hospitium is ready for you.</p>
		<hr />
		<h2>A Not Complete List Of Features</h2>
		<ul>
			<li>Unlimited number of animals with up to four photos each.</li>
			<li>Export of adoptable animals data to Adopt-A-Pet.</li>
			<li>Organization page shows details about your group and includes a google map to your facility.</li>
			<li>Printable cage cards.</li>
			<li>Animal contact QR Codes.</li>
			<li>Microchip tracking.</li>
			<li>Private contacts contains complete information for volunteers, veterinarians, adoption contacts, and other contacts.</li>
			<li>Animal Notes: store anything you want about the animal while it is with your organization; vet visits, adoption, arrival, status changes, foster placements and returns, applications and contracts received, and deaths.</li>
			<li>Key-word animal search: find the animals you are looking for quickly.</li>
			<li>User definable animal statuses.</li>
			<li>User definable animal colors.</li>
			<li>User definable animal species.</li>
			<li>Public adoptable animal listing and search.</li>
			<li>On-line help.</li>
			<li>Share animals to WordPress, Facebook, and Twitter.</li>
			<li>Chart and graph animal weights over time.</li>
			<li>Collaborate with other users real-time.</li>
			<li>Easy to use interface.</li>
			<li>Works great on tablets.</li>
			<li>Add video from YouTube to your animals.</li>
			<li>Secure. We keep your private info private.</li>
		</ul>

	</div>

<% set_meta_description("Need a reason to use Hospitium? We have several for you here.") %>
<% set_meta_keywords("animal,management,software,online,hosted,hospitium") %>
<% set_head_title("Why Hospitium") %>
<% content_for :title, "Why Hospitium" %>
<title><%= yield (:title) %></title>