/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#slider {
/*    margin:100px auto 0 auto;
*/    width:560px; /* Make sure your images are the same size */
    height:290px; /* Make sure your images are the same size */
margin-left:10px;
border:10px solid #fff;
}
html{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/body_bg.jpg);
}
body{
	padding-top: 60px;
	color: #555555 !important;
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/body_bg.jpg);
}
/*li{
	color: #555555 !important;
}
.singleAnimalAdoption{
	border:1px solid #DDDDDD;
	padding:20px;
	margin:60px;
	background: none repeat scroll 0 0 #F5F5F5;
}
.adoptImage{
	margin-right:20px;
}
.animalMedia{
	float:right;
}
.showAnimalInfo{
	float:left;
}
.adoptListImageLink{
	display:block;
	width:300px;
	min-height:300px;
	margin-right:20px;
	float:left;
}
noscript {
    background-color: rgba(0, 0, 0, 0.9);
    clear: both;
    color: red;
    font-size: 30px;
    height: 100%;
    left: 0;
    line-height: 2em;
    margin: 0;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 100%;
    z-index: 99;
}
.hero-unit{
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}*/
.subnav {
  width: 100%;
  height: 36px;

padding: 14px 0px 0px 0px;
}
.table-actions-icons{
	padding:5px;
}

  /* TIMELINE CHARTS */
    .timelineAnimal2 { 
      font-size: 0.75em; 
      height: 200px; 
/*      width: 800px;*/
float:left;
    }
    .timelineAnimal2 li { 
      position: relative;
      float: left;
      width: 40px; 
      margin: 0 0.1em;
      height: 200px; 
list-style:none !important;
    }
    .timelineAnimal2 li a { 
      display: block;
      height: 100%;  
list-style:none !important;
    }
    .timelineAnimal2 li .labelAnimal2 { 
      display: block; 
      position: absolute; 
      bottom: -2em; 
      left: 0; 
      background: #fff; 
      width: 100%; 
      height: 2em; 
      line-height: 2em; 
      text-align: center;
display:none;
list-style:none !important;
    }
    .timelineAnimal2 li a .countAnimal2 { 
      display: block; 
      position: absolute; 
      bottom: 0; 
      left: 0; 
      height: 0; 
      width: 100%; 
      background: #ff3f3f; 
      text-indent: -9999px; 
      overflow: hidden; 
list-style:none !important;
z-index:1;
border-radius: 3px 3px 0px 0px !important;
    }
    .timelineAnimal2 li:hover { 
      background: #F8F8F8; 
list-style:none !important;
    }
    .timelineAnimal2 li a:hover .countAnimal2 { 
      background: #2D7BB2; 
	    -moz-transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	    transform: scale(1.2);
	transform-origin: bottom;
	-moz-transform-origin: bottom;
	-webkit-transform-origin: bottom;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px#333;
	box-shadow: 0 0 5px #333;
	z-index:100;
/*		  width:30px;
		   -webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease; 
			-webkit-transition: all 0.5s ease; 
			-o-transition: all 0.5s ease; */
			list-style:none !important;
    }

#chartKey2{
	float:left;
	margin-left:50px;
}
#chartKey2 li{
	margin:10px;
	list-style:none !important;
}