<div class="row-fluid">
	<div class="span12 well">
		<h1>Initial Setup</h1>

		<p>Before doing anything else with your new account. We recommend filling out you Organization's information. This will be used to allow people to contact you if you list animals for adoption on Hospitium's public pages.</p>

		<p>First select <em>Organizations</em> from the navigation on the left hand side of the screen.</p>

		<p><img src="https://hospitium.tenderapp.com/help/assets/93241f5aa5262cb1e05a1f4040298105e5bae51f/nav_normal.png" alt="nav.png"></p>

		<p>You should see the <em>Organization</em> you created during signup.</p>

		<p><img src="https://hospitium.tenderapp.com/help/assets/ee141c0ac416167694a229c3794591ea7a5d2807/org_normal.png" alt="org.png"></p>

		<p>You can edit information by clicking on fields.</p>

		<p>This convention holds through-out Hospitium. To edit a record, view it and click on the field's value.</p>

		<p><img src="https://hospitium.tenderapp.com/help/assets/bd36c4c23ac932bd6f7cc52e6f06312f25992cd9/edit_normal.png" alt="edit.png"></p>

		<p>Hospitium creates a few defaults to start with. This means you can start adding animals right away. If you need additional species/colors or anything else, feel free to add or delete them.</p>

		<p>You can add records by clicking the <em>Add</em> button on each models index (the page with lists of records / the first page you see when clicking a navigation item).</p>

		<p><img src="https://hospitium.tenderapp.com/help/assets/14fc162154487db30730315e0f5a45afcfa70111/new_normal.png" alt="new.png"></p>

		<p>Please see the <a href="https://hospitium.tenderapp.com/kb/general-use/hospitium-admin-fields"> documentation on each type of data</a> for more information.</p>
	</div>
</div>