<% unless latest_activity.blank? %>
	<table class="table table-striped">
		<% latest_activity.each do |event| %>
			<% unless event.event_message.blank? %>
				<tr><td><%= event.event_message %> on <%= event.created_at.strftime("%a, %b %e at %l:%M") %></td></tr>
			<% end %>
		<% end %>
	</table>
<% else %>
	<p>No new activity.</p>
<% end %>