<h1>Dashboard</h1>
<% unless @final_status_hash.blank? %>
	<%= render :partial => "animal_status_graph", :object => @final_status_hash %>
<% end %>
<% content_for :javascript_footer do %>
	<%= javascript_include_tag "raphael-min.js" %>
	<%= javascript_include_tag "pie.js" %>
	<%= javascript_include_tag "bar-chart.js" %>
<% end %>