#wordpressForm{:style => "width:100%; padding:20px", :class => "clearfix"}
	- form_tag("/adopt_a_pet_accounts", :method => "post", :class => "form") do
		%h1 Adopt A Pet Account Signup
		Please enter your Adopt A Pet 
		%a{:href => "http://www.adoptapet.com/shelter/pointers/about_autouploading.html", :target => "blank"}Auto Upload
		Username, and Password.
		#user_username_field.field
			%label{:for => "blog_user"} Username
			%input{:id => "blog_user", :type => "text", :name => "adopt_a_pet_account[user_name]", :class => "string", :style => "width:px", :size => "50"}
		#user_username_field.field
			%label{:for => "blog_password"} Password
			%input{:id => "blog_password", :type => "password", :name => "adopt_a_pet_account[password]", :class => "string", :style => "width:px", :size => "50"}
		%br
		%button{:type => "submit", :class => "button"}Add Adopt A Pet Account
	Click
	%a{:href => "https://hospitium.tenderapp.com/kb/general-use/connecting-hospitium-to-adopt-a-pet", :target => "blank"}here
	for help.