/ - head_javascript "raphael-min.js"
/ - head_javascript "g.raphael.js"
/ - head_javascript "g.pie-min.js"
/ /- head_javascript "pie.min.js"
/ /- head_javascript "jquery.jqplot.min.js"
/ /- head_javascript "jqplot.pieRenderer.min.js"
/ - head_javascript "test-pie5.js"
/ - head_javascript "test-pie6.js"

#block-tables.block.clearfix
	.content
		%h2.title Animal Statuses
		.inner
			:css 
				#holder {
					margin: -120px 0 0px -50px;
					width: 700px;
					height: 700px;
					float:left;
				}
			%table#pichart{:style => "display:none;"}
				%tbody
					- @final_status_hash.each do |key, value|
						%tr.piepieces
							%th{:scope => "row"}= key + ": " + number_to_percentage(value["percent"], :precision => 0)
							%td=number_to_percentage(value["percent"], :precision => 0)
			#holder.clearfix
			%ul.timelineAnimal2
				- @final_status_hash.each do |key, value|
					%li.barAnimal2
						%a{:href => "#"}
							%span.labelAnimal2= key + " count: " + value["count"]
							%span.countAnimal2{"data-animate-length" => "#{number_to_percentage(value["percent"], :precision => 0)}", :style => "height: 2%;opacity:0;", :title => "#{value["count"]}"}=value["count"]
			%ul#chartKey2
