
	<div id="map_canvas" style="height:400px;width:400px;"></div>
	<p class="help" style="margin-left:0px">Map wrong? Add as much info to the address as possible. (Format: Street City State Zip)</p>

<% head_javascript do %>
		$j(document).ready(function(){
			geocoder = new google.maps.Geocoder();
			geocoder.geocode( { 'address': '<%= @object.address %>'}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var latlng = new google.maps.LatLng(results[0].geometry.location);
					var myOptions = {
						zoom: 12,
						center: latlng,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					}
					map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
					map.setCenter(results[0].geometry.location);

					var contentString = '<div id="content">'+
						'<div id="siteNotice">'+
						'</div>'+
						'<div id="bodyContent">'+
						'<p><%= @object.address %></p>'+
						'</div>'+
					'</div>';

					var infowindow = new google.maps.InfoWindow({
						content: contentString
					});

					var marker = new google.maps.Marker({
						map: map, 
						position: results[0].geometry.location
					});

					google.maps.event.addListener(marker, 'click', function() {
						infowindow.open(map,marker);
					});
				} else {
					//alert("Geocode was not successful for the following reason: " + status);
				}
			});
		});
<% end %>