<div class="row-fluid">
	<div class="span12 main-app-row">
		<% if notice.blank? %>

		<% else %>
			<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= notice %></div>
		<% end %>
		<div class="well">
			<div class="row-fluid">
				<div class="span12">
					<h1>New status</h1>
				</div>
			</div>
		</div>

		<%= render 'form' %>


	</div>
</div>
