<h1>Listing notes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Note</th>
    <th>Animal</th>
    <th>User</th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.id %></td>
    <td><%= note.note %></td>
    <td><%= note.animal %></td>
    <td><%= note.user %></td>
  </tr>
<% end %>
</table>

