body{
	/*background:none !important;*/
	/*background-image:none !important;*/
	background:none repeat scroll 0 0 transparent !important
}
html{
	background-image:none !important;
	background-color:#fff !important;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:left bottom;
	-moz-background-size: contain;
	background-size: contain;
}
.pig{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/homepage/pig2-bg.jpg) !important;
}
.cat{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/homepage/cat3-bg.jpg) !important;
}
.dog{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/homepage/dog3-bg.jpg) !important;
}
.rat{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/homepage/rat2-bg.jpg) !important;
}
.duck{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/homepage/duck-bg.jpg) !important;
}
.hero-unit {
	background:none;
	border:none;
	box-shadow:none;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

.hero-unit h1{
	font-size:53px;
	vertical-align: middle;
}
footer {
	border-top:none;
	margin-top: 17px;
	padding-top: 17px;
	text-align: right;
}
.btn{
	float:right;
}
.main-container{
	padding-left: 300px;
	width: 75%;
}

@media (min-width: 1780px) {
	.main-container{
		width: 65%;
	}
}

@media (max-width: 1490px) {
	.main-container{
		padding-left: 200px;
		width: 85%;
	}
}

@media (max-width: 1245px) {
	.main-container{
		padding-left: 100px;
		width: 95%;
	}
}

@media (max-width: 965px) {
	.main-container{
		padding-left: 60px;
		width: 100%;
	}
}

.row{
	padding: 60px;
}
.big-quote{
	font-size:28px !important;
	max-width:400px;
	padding: 15px;
}
.media-grid {
	margin-bottom: 0;
	margin-left: -20px;
}
.media-grid:before, .media-grid:after {
	content: "";
	display: table;
}
.media-grid:after {
	clear: both;
}
.media-grid li {
	display: inline;
}
.media-grid a {
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	float: left;
	margin: 0 0 18px 20px;
	padding: 4px;
}
.media-grid a img {
	display: block;
}
.media-grid a:hover {
	border-color: #0069D6;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.modal{
	left: 5% !important;
	z-index: 1050 !important;
	overflow: auto !important;
	width: 90% !important;
	margin: 0px !important;
}