.otherAnimalInfo p{
  font-size:14px;
  line-height:1em !important;
}
.sidebar-logo{
  height: 65px;
}
.cl-sidebar{
  background: none;
}
#pjax-contain {
  margin-top: 60px;
}
.main-container {
  width: 100%;
  padding: 0px 60px;
}

.cl-sidebar{
  background: none;
}


@media (max-width: 767px) {
  .cl-sidebar{
    background-color: #272930;
  }
}

/*1490 min width current homepage works with*/

.features-row {
  margin-bottom: 60px;
}
