div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
/*  padding: 2px;
  background-color: red;
  display: table;*/
/* background-color: #FDDFDE;
    border-color: #FBC7C6;
   color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   box-shadow: none;
    padding: 2px;
background-image: none;
  border-style: solid;
  border-width: 1px;
display: table;*/
color: 
#B94A48;
border-color: 
#B94A48;
}

#error_explanation {
/*  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;*/
 background-color: #FDDFDE;
    border-color: #FBC7C6;
   color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   box-shadow: none;
    padding: 14px;
background-image: none;
border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
margin-bottom: 18px;
margin-left: -20px;
}

#error_explanation h2 {
/*  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;*/

  font-style: inherit;
  font-weight: bold;
  line-height: inherit;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
