div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors label, .field_with_errors input {
	color: #B94A48 !important;
	border-color: #B94A48 !important;
}

#error_explanation {
	background-color: #FDDFDE;
	border-color: #FBC7C6;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: none;
	padding: 14px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 18px;
	margin-left: -20px;
}

#error_explanation h2 {
	font-style: inherit;
	font-weight: bold;
	line-height: inherit;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}
