/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#slider {
/*    margin:100px auto 0 auto;
*/    width:560px; /* Make sure your images are the same size */
    height:290px; /* Make sure your images are the same size */
margin-left:10px;
border:10px solid #fff;
}
html{
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/body_bg.jpg);
}
body{
	padding-top: 60px;
	color: #555555 !important;
	background-image:url(https://d4uktpxr9m70.cloudfront.net/images/body_bg.jpg);
}
li{
	color: #555555 !important;
}
.singleAnimalAdoption{
	border:1px solid #DDDDDD;
	padding:20px;
	margin:60px;
	background: none repeat scroll 0 0 #F5F5F5;
}
.adoptImage{
	margin-right:20px;
}
.animalMedia{
	float:right;
}
.showAnimalInfo{
	float:left;
}
.adoptListImageLink{
	display:block;
	width:300px;
	min-height:300px;
	margin-right:20px;
	float:left;
}
noscript {
    background-color: rgba(0, 0, 0, 0.9);
    clear: both;
    color: red;
    font-size: 30px;
    height: 100%;
    left: 0;
    line-height: 2em;
    margin: 0;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 100%;
    z-index: 99;
}
.hero-unit{
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}
.best_in_place form input[type="submit"]{
	display:inline-block;font-size:13px;line-height:18px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#fafafa;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);cursor:pointer;*margin-left:.3em;
}
.best_in_place form input[type="submit"]:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.best_in_place form input[type="submit"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.nav-tabs > li > a, .nav-pills > li > a {
	padding-right: 9px !important;
	padding-left: 9px !important;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
::-webkit-input-placeholder {
    color:    #ccc !important;
}
:-moz-placeholder {
    color:    #ccc !important;
}
#animal_notes_list{
	max-height:250px;
	overflow:auto;
	border:1px solid #eee;
}
#animal_notes_list li{
	padding:10px;
}
#animal_notes_list li:nth-child(odd) { background-color: #fff; }

.blog-post-title{
	margin-bottom: 10px !important;
}
.select2-drop {
z-index: 1100 !important;
}
.select2-container {
margin-bottom: 10px;
}
