<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <!--LOGO-->
        <div class="sidebar-logo">
          <div class="logo">
              <a class="brand" href="/" style="padding:2px 20px 0px 0px;"><%= image_tag("hos-logo6.png", :size => "175x35")%></a>
          </div>
        </div>
        <div class="side-user">
        <!-- User progress bar-->
        </div>
      </div>
    </div>
  </div>
</div>