<!-- <div class="sidebar-logo">
          <div class="logo">
              <a class="brand" href="/" style="padding:2px 20px 0px 0px;"><img alt="Hos logo6" height="35" src="/assets/hos-logo6.png" width="175"></a>
          </div>
        </div> -->
<div id="head-nav" class="navbar navbar-default hidden-xs">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right user-nav">
        <% if user_signed_in? %>
          <li class="dropdown profile_menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_image_tag("#{current_user.email}", :alt => "#{current_user.email}", :gravatar => { :size => 25 }) %><span><%= current_user.username %></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/admin">Dashboard</a></li>
              <li><a href="/admin/users/<%= current_user.id %>">User Settings</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="divider-vertical"></li>
          <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>     
      <ul class="nav navbar-nav not-nav hidden-xs">
        <li><a href="/why-hospitium">Why Hospitium</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="https://hospitium.tenderapp.com/kb">Docs</a></li>
        <li><a href="/animals">Adopt an Animal</a></li>
        <li><a href="/posts">Blog</a></li>
      </ul>
 
    </div>
  </div>
</div>
