<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter Management Software | Hospitium</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
</head>
<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">Hospitium</a></h3>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
			<ul class="nav secondary-nav">
				<li><a href="/users/sign_in">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

	<%= yield %>

  <footer>
    <p>Created by AppleWood Rescue</p>
  </footer>

</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<%= javascript_include_tag :all %>
</body>
</html>
